.formcss{
    margin: 70px;
    width: 500px;
    height: 430px;
    background-color: #f2f2f2;
    padding: 20px;
    
  }
  
  label{

    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
  }